.todo-app{
  text-align: center;
  padding:20px 20px 20px 20px;
}

.todo-list{
  display:flex;
  justify-content: space-between;
  margin-top:20px;
  padding:20px;
  font-size:1.2em;
  border:1px solid gray;

}

.todo-list.done{
  text-decoration: line-through;
}

.inputWrite{
  width:50%;
  height:30px;
  margin: 20px 0 20px 0;
  border-radius: 4px;
  font-size: 1em;
}

.inputSubmit{
 width:25%;
 height:40px;
 border-radius: 10px;
 border:none;
 background-color: #05445E;
 color:white;
 font-size: 1em;
 font-weight: bold;

}

.inputSubmit:hover{
  background-color: #189AB4;
}



.delete{
  width:15%;
  height:30px;
  background-color: #05445E;
  border-radius: 10px;
  font-weight: bold;
  color:white;
  border:none;
}

.delete:hover{
  background-color: #75E6DA;
  cursor: pointer;
}




